* {
  box-sizing: border-box;
}

.resultado-div {
  height: 100vh;
  width: 100%;
}

.Ganaste {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #888949e5;
}

.Empate {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.Perdiste {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #894949e5;
}
